@import "tailwindcss";

:root {
  --background: #0c0c0c; /* Stone-950 equivalente */
  --foreground: #e5e5e5; /* Stone-200 equivalente */
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
